<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="id_file" class="java.io.File" scope="prototype">
        <constructor-arg value="E:\IdeaProjects\GitHub\Loginer\id.dat"/>
    </bean>
    <bean id="name_file" class="java.io.File" scope="prototype">
        <constructor-arg value="E:\IdeaProjects\GitHub\Loginer\name.dat"/>
    </bean>
    <bean id="desc_file" class="java.io.File" scope="prototype">
        <constructor-arg value="E:\IdeaProjects\GitHub\Loginer\description.dat"/>
    </bean>
    <bean id="pic_file" class="java.io.File" scope="prototype">
        <constructor-arg value="E:\IdeaProjects\GitHub\Loginer\pic.dat"/>
    </bean>
    <bean id="price_file" class="java.io.File" scope="prototype">
        <constructor-arg value="E:\IdeaProjects\GitHub\Loginer\price.dat"/>
    </bean>

    <bean id="idao" class="dao.MySqlItemDao"/>

    <bean id="hib_util" class="hibernate.HibernateUtil"/>

    <bean id="html" class="service.HtmlServise"/>

</beans>